<header class="toolbar" role="banner">
  <div routerLink="" [ngClass]="isActive('/home') + ' header-link'">Home</div>
  <div routerLink="art" [ngClass]="isActive('/art') + ' header-link'">Art</div>
  <div
    routerLink="categories"
    [ngClass]="isActive('/categories') + ' header-link'"
  >
    Categories
  </div>
  <div class="spacer"></div>
  <div
    routerLink="my-art"
    *ngIf="accountOptions"
    @entering
    [ngClass]="isActive('/my-art') + ' header-link'"
  >
    My Art
  </div>
  <div
    *ngIf="accountOptions"
    @entering
    routerLink="mint"
    [ngClass]="isActive('/mint') + ' header-link'"
  >
    Mint
  </div>
  <app-wallet-button></app-wallet-button>
</header>
