<header class="toolbar" role="banner">
  <a routerLink="" [ngClass]="isActive('/home') + ' header-link'">Home</a>
  <a routerLink="art" [ngClass]="isActive('/art') + ' header-link'">Art</a>
  <a
    routerLink="categories"
    [ngClass]="isActive('/categories') + ' header-link'"
  >
    Categories
  </a>
  <div class="spacer"></div>
  <a
    routerLink="my-art"
    *ngIf="accountOptions"
    @entering
    [ngClass]="isActive('/my-art') + ' header-link'"
  >
    My Art
  </a>
  <a
    *ngIf="accountOptions"
    @entering
    routerLink="mint"
    [ngClass]="isActive('/mint') + ' header-link'"
  >
    Mint
  </a>
  <app-wallet-button></app-wallet-button>
</header>
