<header class="toolbar" role="banner">
  <div
    routerLink=""
    [ngClass]="!isActive('/{art | categories | forge}') + ' header-link'"
  >
    Home
  </div>
  <div routerLink="art" [ngClass]="isActive('/art') + ' header-link'">Art</div>
  <div
    routerLink="categories"
    [ngClass]="isActive('/categories') + ' header-link'"
  >
    Categories
  </div>
  <div
    *ngIf="canForge()"
    routerLink="forge"
    [ngClass]="isActive('/forge') + ' header-link'"
  >
    Forge
  </div>
  <div class="spacer"></div>
  <app-wallet-button></app-wallet-button>
</header>
