@keyframes activate {
  from {
    color: currentColor;
  }
  to {
    color: darkviolet;
  }
}

@keyframes deactivate {
  from {
    color: currentColor;
  }
  to {
    color: lightgrey;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  z-index: 1;
}

.header-link {
  margin: 30px;
  cursor: pointer;
  transition: 0.1s ease-in;
  animation-name: deactivate;
  color: lightgrey;
}

.header-link:hover {
  transform: translateY(-5px);
  transition: 0.1s ease-in;
  animation-name: activate;
  color: darkviolet;
}

.page-selector {
  width: 15px;
  height: 5px;
  position: absolute;
}

.active {
  transform: translateY(-5px);
  transition: 0.1s ease-in;
  animation-name: activate;
  color: darkviolet;
}
