<main class="content card-container">
  <div class="container">
    <a
      [href]="'https://gateway.pinata.cloud/ipfs/' + cid"
      target="_blank"
      rel="noreferrer"
    >
      <img
        class="card image"
        *ngIf="nft.image"
        [src]="'https://gateway.pinata.cloud/ipfs/' + cid"
        [alt]="
          'preview of the artpiece ' +
          cid +
          ', categorized as ' +
          (nft.image ? 'image, ' : '') +
          (nft.video ? 'video, ' : '') +
          (nft.video ? 'music ' : '')
        "
        aria-labelledby="description"
      />
    </a>
    <a
      *ngIf="nft.music && !nft.image && !nft.video"
      class="icon card image"
      [href]="'https://gateway.pinata.cloud/ipfs/' + cid"
      target="_blank"
      rel="noreferrer"
    >
      <i class="light-icon-music"></i>
    </a>
    <a
      *ngIf="nft.video && !nft.music && !nft.image"
      class="icon card image"
      [href]="'https://gateway.pinata.cloud/ipfs/' + cid"
      target="_blank"
      rel="noreferrer"
    >
      <i class="light-icon-movie"></i>
    </a>
    <div @entering class="info">
      <h3 class="title">{{ metadata?.title }}</h3>
      <p class="author">by {{ metadata?.author }}</p>
      <p id="description" class="description">{{ metadata?.description }}</p>
      <div class="spacer"></div>
      <div *ngIf="_trade.price.gt(0)" class="price">
        <div class="address">
          price
          <span
            >{{ displayPrice }} <fa-icon [icon]="faEthereum"></fa-icon
          ></span>
        </div>
      </div>
      <div class="address">
        minter
        <span class="wallet-addr-compressed">{{ metadata?.wallet }}</span>
      </div>
      <div class="address">
        owner <span class="wallet-addr-compressed">{{ owner }}</span>
      </div>
    </div>
  </div>
  <div class="card-container actions">
    <div
      *ngIf="_trade.open && !cancellable"
      (click)="openBuyDialog()"
      class="card card-small"
    >
      Buy
    </div>
    <button *ngIf="sellable" (click)="openSellDialog()" class="card card-small">
      Sell
    </button>
    <button *ngIf="cancellable" (click)="cancel()" class="card card-small">
      Cancel trade
    </button>
  </div>
</main>
