<figure @entering [ngClass]="'card-container preview-container-' + orientation">
  <img
    #image
    class="card preview"
    [src]="'https://gateway.pinata.cloud/ipfs/' + cid"
    [routerLink]="'/art/' + cid"
  />
  <div [ngClass]="'info ' + orientation">
    <div class="title-author">
      <h3>{{ title }}</h3>
      <p>{{ author }}</p>
    </div>
    <p
      class="wallet-addr-compressed"
      [cdkCopyToClipboard]="wallet"
      matTooltip="author wallet, click to copy"
      matTooltipPosition="below"
    >
      {{ wallCompressed }}
    </p>
  </div>
  <figcaption [ngClass]="'description ' + reverse(orientation)">
    <div>{{ description }}</div>
  </figcaption>
</figure>
