:host {
  cursor: default;
  width: 100%;
  height: 300px;
  border-bottom: 2px solid lightgrey;
  animation-name: deactivate;
  transition: 0.1s ease-in-out;
  font-weight: 30;
}

:host:hover {
  border-bottom: 2px solid darkviolet;
  animation-name: activate;
  transition: 0.5s ease-in-out;
}

.preview-container-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.preview-container-right {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
}

.preview {
  padding: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.icon {
  font-size: 24px;
}

.info {
  flex-grow: 1;
  margin: 0 10px 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  max-width: 300px;
  margin: auto 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

@media screen and (max-width: 767px) {
  :host {
    height: auto;
  }

  .description {
    width: 100%;
  }

  .preview-container-left {
    flex-wrap: wrap;
  }

  .preview-container-right {
    flex-wrap: wrap;
  }

  .description {
    text-align: center;
  }

  .right {
    text-align: center;
  }

  .left {
    text-align: center;
  }
}
