<main class="content">
  <div *ngIf="minted; then thenBlock; else elseBlock"></div>
  <ng-template #elseBlock>
    <form [formGroup]="mintForm" (ngSubmit)="mint()">
      <mat-form-field appearance="outline">
        <ngx-mat-file-input
          formControlName="file"
          [required]="true"
        ></ngx-mat-file-input>
        <mat-icon matSuffix>clip</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" [required]="true" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Author name</mat-label>
        <input matInput formControlName="author" [required]="true" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Author wallet</mat-label>
        <input matInput formControlName="wallet" [required]="true" />
      </mat-form-field>
      <app-chip-list #chiplist formControlName="categories"></app-chip-list>
      <div class="card-container">
        <div (click)="mint()" class="card card-small">{{ mintMessage }}</div>
      </div>
    </form>
  </ng-template>
  <ng-template #thenBlock>
    <app-nft-preview
      [cid]="nft.cid"
      [metadataCid]="nft.metadataHash"
    ></app-nft-preview>
    <div class="card-container">
      <div
        class="card card-small"
        [cdkCopyToClipboard]="this.nft.cid"
        matTooltip="click to copy"
        matTooltipPosition="below"
      >
        contentID
      </div>
      <div
        class="card card-small"
        [cdkCopyToClipboard]="this.nft.metadataHash"
        matTooltip="click to copy"
        matTooltipPosition="below"
      >
        metadata
      </div>
    </div>
  </ng-template>
</main>
