:host {
  cursor: default;
}

.preview-container {
  width: 100%;
  height: 250px;
  border-bottom: darkviolet;
}

.info {
  text-align: left;
  position: absolute;
  left: 400px;
}

.preview {
  object-fit: cover;
  width: 200px;
  height: 200px;
  float: left;
  position: absolute;
  left: 150px;
  border-radius: 5px;
  padding: 0;
  border: 0;
}

.preview-description {
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  font-weight: 30;
  width: 300px;
  position: absolute;
  right: 250px;
  text-align: right;
}

.vert-spacer {
  height: 125px;
}
