
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: (
  50 : #f2e0fa,
  100 : #dfb3f2,
  200 : #ca80e9,
  300 : #b44de0,
  400 : #a426da,
  500 : #9400d3,
  600 : #8c00ce,
  700 : #8100c8,
  800 : #7700c2,
  900 : #6500b7,
  A100 : #efe0ff,
  A200 : #d5adff,
  A400 : #bb7aff,
  A700 : #ae61ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$accent-palette: (
  50 : #fff8e0,
  100 : #ffedb3,
  200 : #ffe180,
  300 : #ffd54d,
  400 : #ffcc26,
  500 : #ffc300,
  600 : #ffbd00,
  700 : #ffb500,
  800 : #ffae00,
  900 : #ffa100,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe5bf,
  A700 : #ffdaa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette(mat.$red-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

@include mat.all-component-themes($theme)

